.gradle/
.engineering/
build/
out/
run/
run-data/
logs/
/wrapper/
.idea/
.vscode/
.settings/
.explyt/
*.iml
*.ipr
*.iws
*.launch
.classpath
.project
local.properties
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.zip
*.7z
*.bak
*.tmp
.DS_Store
Thumbs.db
